
*{
    -fx-filtro:#0cb388;  -fx-secondary-filtro:#00A279;
    -fx-novo:#56A5E7;    -fx-secondary-novo:#348FDB;
    -fx-cancelar:#FFA340;-fx-secondary-cancelar:FA880C;
    -fx-excluir:#EE4C48; -fx-secondary-excluir:#FF211B;
    -fx-sair:#EE4C48;    -fx-secondary-sair:#D3000F;
    -fx-menu:#0cb388;    -fx-secondary-menu:#0cb388;
    -fx-background-radius:5.0px;
    -fx-border-radius:5.0px;
    -fx-menuC:#2A2E37; -fx-secondary-menuC:#1e1e22;    
}
.jfx-button{
    -jfx-disable-visual-focus: true;
}

.jfx-button.menuCadastro{

    -fx-background-color: #297971;
     -fx-text-fill: #fbf6f2;
     -fx-border-color:-fx-secondary-menuC;
}
.jfx-button.menuCadastro:focused,.jfx-button.menuCadastro:hover{
	     -fx-background-color: #1CA899;
	     -fx-text-fill:  #000000;
}

.Unlock{
-fx-icon-code: UNLOCK;
-fx-fill: white;
}

.Unlock:focused,.Unlock:hover{
	-fx-icon-code: UNLOCK;
-fx-fill: black;
}
.jfx-button.filtrar {
     -jfx-button-type: RAISED;
     -fx-border-color:-fx-secondary-filtro;
     -fx-background-color: -fx-filtro;
     -fx-text-fill: #fbf6f2;
     -fx-border-color:-fx-secondary-filtro;
    

}
.jfx-button.texto {
     -jfx-button-type: RAISED;
     -fx-border-color:#274643;
     -fx-background-color: #274643;
     -fx-text-fill: #fbf6f2;

}


.jfx-button.filtrar:focused,.jfx-button.filtrar:hover {
     -fx-border-color:-fx-secondary-filtro;
     -fx-background-color:-fx-secondary-filtro;
     -fx-text-fill: #000000;
 
}

.jfx-button.novo {
     -jfx-button-type: RAISED;
     -fx-border-color:-fx-secondary-novo;
     -fx-background-color:-fx-novo;
     -fx-text-fill: #fbf6f2;
}

.jfx-button.novo:focused,.jfx-button.novo:hover  {
     -fx-border-color:-fx-secondary-novo;
     -fx-background-color:-fx-secondary-novo;
     -fx-text-fill: #000000;
}

.jfx-button.cancelar {
     -jfx-button-type: RAISED;
     -fx-border-color:-fx-secondary-cancelar;
     -fx-background-color:-fx-cancelar;
     -fx-text-fill: #fbf6f2;
}

.jfx-button.cancelar:focused,.jfx-button.cancelar:hover  {
     -fx-border-color:-fx-secondary-cancelar;
     -fx-background-color:-fx-secondary-cancelar;
     -fx-text-fill: #000000;
}

.jfx-button.excluir {
     -jfx-button-type: RAISED;
     -fx-border-color:-fx-secondary-excluir;
     -fx-background-color:-fx-excluir;
     -fx-text-fill: #fbf6f2;
}

.jfx-button.excluir:focused,.jfx-button.excluir:hover  {
     -fx-border-color:-fx-secondary-excluir;
     -fx-background-color:-fx-secondary-excluir;
     -fx-text-fill: #000000;
}

.jfx-button.sair {
     -jfx-button-type: RAISED;
     -fx-border-color:-fx-secondary-sair;
     -fx-background-color:-fx-sair;
     -fx-text-fill: #fbf6f2;
}

.jfx-button.sair:focused,.jfx-button.sair:hover  {
     -fx-border-color:-fx-secondary-sair;
     -fx-background-color:-fx-secondary-sair;
     -fx-text-fill: #000000;
}

.jfx-button.menu{
     -fx-background-radius:0.0px;
     -fx-border-radius:0.0px;
     -jfx-button-type: RAISED;
     -fx-border-color:#cccccc;
     -fx-background-color:-fx-secondary-menu;
     -fx-text-fill: #fbf6f2;
}
.jfx-button.menu:focused,.jfx-button.menu:hover  {
	
     -fx-border-color:-fx-secondary-menu;
     -fx-background-color:-fx-secondary-menu;
     -fx-text-fill: white;
}

