
.tooltip {
    -fx-background: #0cb388;
    -fx-text-fill: white;
    -fx-background-color: #0cb388;
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 10px; /* 10px */
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
}