/* Default looked-up colors */
* {
    -fx-text-fill: white;
    -fx-background-color: #0cb388;
}

.text-area .content{
  -fx-background-color: #0cb388;
  -fx-border-color: white;
}

.FXNotificationBody{
	-fx-background: #0cb388;
	-fx-effect: dropshadow(three-pass-box, #0cb388 , 0.0, 0.0 , 0.0 , 0.0 );
}
.text-area:centered .text {
    -fx-text-alignment: center ;
}

.text-area{
	 -fx-background: #0cb388;
}

.FXNotificationBody:hover{
	-fx-background: #0cb388;
	-fx-effect: dropshadow(three-pass-box, #44D4C7 , 10.0, 0.0 , 0.0 , 0.0 );
}
