/* Default looked-up colors */
* {
    -fx-text-fill: white;
    -fx-background-color: #D3000F;
}

.text-area .content{
  -fx-background-color: #D3000F;
  -fx-border-color: white;
}

.FXNotificationBody{
	-fx-background: #D3000F;
	-fx-effect: dropshadow(three-pass-box, #D3000F , 0.0, 0.0 , 0.0 , 0.0 );
}
.text-area:centered .text {
    -fx-text-alignment: center ;
}

.text-area{
	 -fx-background: #D3000F;
}

.FXNotificationBody:hover{
	-fx-background: #D3000F;
	-fx-effect: dropshadow(three-pass-box, #D3000F , 10.0, 0.0 , 0.0 , 0.0 );
}
